.Auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Auth .auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.Auth .auth-form-container .logo {
  color: #f4ce14;
  font-size: 2.5rem;
  font-weight: 500;
}

.Auth .auth-form-container .auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth .auth-form-container .auth-form .label-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.4rem;
}

.Auth .auth-form-container .auth-form .label-input-container label {
  font-size: 0.95rem;
  color: #45474b;
  font-weight: 550;
}

.Auth .auth-form-container .auth-form .label-input-container input {
  background-color: #f5f7f8;
  border: 1px solid #45474b;
  padding: 4px 8px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.Auth .auth-form-container .auth-form .label-input-container input:focus {
  outline: 1px solid #f4ce14;
}

.Auth .auth-form-container .auth-form .label-input-container select {
  background-color: #f5f7f8;
  border: 1px solid #45474b;
  padding: 4px 8px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.Auth .auth-form-container .auth-form .auth-submit-button {
  width: 100%;
  background-color: #495e57;
  border: 1px solid #45474b;
  padding: 4px 8px;
  font-size: 1.1rem;
  font-weight: 550;
  color: #f5f7f8;
  border-radius: 4px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.Auth .auth-form-container .auth-form .auth-submit-button:hover {
  background-color: #f4ce14;
  color: #495e57;
}

.Auth .auth-form-container .auth-form .change-form {
  font-size: 1.05rem;
  font-weight: 500;
  color: #495e57;
  margin-top: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s linear;
}

.Auth .auth-form-container .auth-form .change-form:hover {
  font-size: 1rem;
  color: #f4ce14;
  margin-top: 0.5rem;
  cursor: pointer;
}

.Auth .auth-form-container .auth-form .error-message {
  background-color: rgb(252, 207, 207);
  color: rgb(212, 46, 46);
  border: 2px solid rgb(212, 46, 46);
  border-radius: 4px;
  padding: 4px 8px;
  width: 80%;
  text-align: center;
  margin: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.Auth .auth-form-container .auth-form .success-message {
  background-color: rgb(207, 252, 211);
  color: rgb(46, 212, 96);
  border: 2px solid rgb(46, 212, 74);
  border-radius: 4px;
  padding: 4px 8px;
  width: 80%;
  text-align: center;
  font-size: 0.8rem;
  margin: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .Auth .auth-form-container {
    width: 40%;
  }
}
